@font-face {
    font-family: 'Museoslab';
    src: url('./assets/font/museo-slab-font/Museo_Slab_100.otf') format('otf'),
        url('./assets/font/museo-slab-font/Museo_Slab_1000.otf') format('otf'),
        url('./assets/font/museo-slab-font/Museo_Slab_1000italic.otf') format('otf'),
        url('./assets/font/museo-slab-font/Museo_Slab_100italic.otf') format('otf'),
        url('./assets/font/museo-slab-font/Museo_Slab_300.otf') format('otf'),
        url('./assets/font/museo-slab-font/Museo_Slab_300italic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Museoslab';
}
ul a{
text-decoration: none;
transform: scale(1.1);
}

:root {
    --primary: #3971B1;
    --secondary: #646464;
    --btn-logo: #E4E4E4;
    font-size: 16px;
   
}



/* Header and navigation styles below*/
.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;


}

header {
    position: fixed;
    top: 0;
    width: 90vw;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: transparent;
    border-bottom: 1px solid #E4E4E4;
    padding: 1rem 0rem;
    z-index: 200;
}

.logo-container {
    background-color: #3971B1;
}

.logo {
    background-color: #E4E4E4;
    color: #3C3C3C;
    width: 4rem;
    padding: 1vw;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover {
    background-color: #3C3C3C;
    color: #E4E4E4;
    cursor: pointer;
    transform: scale(1.01);
}

#header-id .logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-link li {
    list-style-type: none;
    padding: 1vw;
}

#text-below-nav-conatiner {
    position: relative;
    margin-top: 100px;
    width: 95vw;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    z-index: 5;
    color: #AFAFAF;
    font-size: 0.75rem;

}




/* form and text above form style  */

.form-image-container-wrapper {
    padding: 0rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container-wrapper {
    padding: 0rem 4rem;
}

.contact-us-wrapper div {
    padding: 0rem 0rem 2rem 0rem;
    color: #3C3C3C;
    font-size: 3rem;
}

.content-below-contact-us {
    padding: 2rem 0rem;

}

.content-below-contact-us>div {
    color: #646464;
    font-size: 1.375rem;
}

.form-container .form-wrapper div.form-title {
    margin-top: 4rem;
    font-size: 2.25rem;
    color: var(--primary);
}


input {
    width: 40vw;
    border: none;
    padding: 2.5rem 0rem 1rem 0rem;
    border-bottom: 2px solid #D3D3D3;

}

input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

div select {
    width: 40vw;
    border: none;
    padding: 2.5rem 0rem 1rem 2rem;
    border-bottom: 2px solid #D3D3D3;
    color: #8E8E8E;
    font-size: 1rem;

}

input::placeholder {
    color: #8E8E8E;
    font-size: 1rem;
    padding: 0rem 2rem;

}


div select option {
    color: #8E8E8E;
    font-size: 16px;
    padding: 0rem 2rem;

}

.submit-btn-container {
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.sumit-btn {
    margin-top: 5rem;
    width: 5rem;
    height: 2rem;
    background-color: #3971B1;
    color: #FFFFFF;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.sumit-btn:hover {
    cursor: pointer;
    background-color: rgb(137, 176, 248);
    color: black;
    transform: scale(1.05);

}

/* image css */

.image-container-wrapper {
    width: 100%;
    height: 100%;
    border-left: 1px solid #E4E4E4;

}


.image-wrapper {
    margin-top: -145px;
    margin-right: -100px;
    background-image: url('./assets/images/map@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: 100%;
    max-width: 100%;

}


.img-wrapper img {
    width: 100%;
}



/* Lcation symbol css starts */

.location-concentric {

    margin-top: 12rem;
    margin-right: 15rem;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    background-color: #becddb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-circle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #3872b4;
    animation: blink 1.5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/* right section css */

.right-section-container-wrapper{
    padding: 4rem 1rem 2rem 4rem;
}

.sales-enquiry-heading {
   
    font-size: 26px;
    color: #3971B1;
    margin: 2rem 0rem;
}

.sales-enquiry-heading-phone-email {

    color: #8E8E8E;
    font-size: 16px;
}

.heading-right-section {    
    margin: 2rem 0rem;
    color: #383838;
    font-size: 28px;
}

.heading-right-section-contact {
    color: #8E8E8E;
    font-size: 16px;
}

footer {
    overflow-x: hidden;

}

.footer-wrapper {
    position: relative;
    width: 100vw;
    background-color: #F4F4F4;

}

.foot-top-section{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}


.foot-nav {
    background-color: transparent;
}

.foot-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1rem;
    background-color: transparent;
    padding: 0rem 1rem;
}

.foot-nav ul li {
    font-size: 14px;
    color: #383838;
    background-color: transparent;
    padding: 0.5rem 0rem;
    
}




.foot-subscription {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.foot-subscription .get-news {
    background-color: transparent;
    font-size: 18px;
}

.foot-subscription .email-subscription {
    background-color: transparent;
    height: 30px;
}

.foot-subscription .email-subscription  input{
    width: 20vw;
    margin:1rem 0rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}



.foot-subscription input::placeholder {
    font-size: 14px;
}

.subscribe-btn {
    margin-top: 2rem;
    background-color: #3971B1;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    font-weight: 500;
    padding: 1rem 1.5rem;
    transition: all 0.5s ease-in-out;

}

.subscribe-btn:hover {
    cursor: pointer;
    background-color: rgb(137, 176, 248);
    color: black;
    transform: scale(1.05);

}

.v-hide{
visibility: hidden;
}

.foot-scroll-to-top#scroll-top{
    position: fixed;
    bottom: 3.5rem;
    right: 2.5rem;
    background-color: transparent;
    z-index: 100;
 
}

.foot-scroll-to-top img {
    width: 45px;
    height: 45px;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  
}
.foot-scroll-to-top img:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: transparent;
  
}

.foot-scroll-to-top:hover {
    cursor: pointer;
}

.to-top-text-wrapper{
    background-color: transparent;
}
.to-top-text{
    text-align: left;
    background-color: transparent;
}

.social-media{
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: transparent;
    border-top: 1px solid #E4E4E4;
}


#resp-nav-bar{
    width: 100vw;
    position: relative;
    background-color: #f4f4f4;
    z-index: 200;
    display: none;

}

#resp-nav-ul {
  list-style-type: none;  
}

#resp-nav-ul li {
    padding: 1rem;
  }

  .hamburger{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: none;
  }

  .closebtn {
    font-size: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 500;
    display: none;
}



